# Estimating elasticities with Random Forest

This is a project that concerns the application of machine learning (ML) in causal inference. Here, in particular, we are going to apply one of the most pervasively used ML methods, Random Forest, to estimate price elasticity for Fullfilment BY Amazon (FBA) retailer. Let us start by loading necessary packages first.

In [1]:
import pandas as pd, numpy as np
from datetime import datetime, date
from matplotlib import pyplot as plt
import seaborn as sns

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold

C:\Users\Shakil\Anaconda3\lib\site-packages\sklearn\feature_extraction\image.py:167: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int):
C:\Users\Shakil\Anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:34: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ._gradient_boosting import predict_stages
C:\Users\Shakil\Anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:34: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ._gradient_boosting import predict_stages

The dataset in use here is a publicly available data which is available [here](https://www.kaggle.com/vijayuv/onlineretail). Let's have a snippet at the dataset:

In [2]:
df = pd.read_csv('E:\Jupyter_files\OnlineRetail.csv')

df.sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
94300,544342,22633,NaN,-53,2/18/2011 9:44,0.00,NaN,United Kingdom
439335,574445,21172,PARTY METAL SIGN,12,11/4/2011 11:41,1.45,15722.0,United Kingdom
94051,544323,47574A,ENGLISH ROSE SCENTED HANGING FLOWER,1,2/17/2011 15:51,2.46,NaN,United Kingdom
286666,562034,23229,VINTAGE DONKEY TAIL GAME,6,8/2/2011 9:14,3.75,12449.0,Belgium
107350,545430,82483,WOOD 2 DRAWER CABINET WHITE FINISH,10,3/2/2011 14:50,6.95,15636.0,United Kingdom
523978,580527,21306,SET/4 DAISY MIRROR MAGNETS,2,12/4/2011 15:19,0.29,13736.0,United Kingdom
287380,562102,21746,SMALL RED RETROSPOT WINDMILL,12,8/2/2011 14:21,1.25,13089.0,United Kingdom
89711,543924,22967,SET 3 SONG BIRD PAPER EGGS ASSORTED,1,2/14/2011 14:14,2.95,16904.0,United Kingdom
292070,562539,22900,SET 2 TEA TOWELS I LOVE LONDON,4,8/5/2011 15:30,3.25,17220.0,United Kingdom
527208,580695,22210,WOOD STAMP SET BEST WISHES,1,12/5/2011 16:03,0.83,13230.0,United Kingdom

As we are going to estimate elasticity, quantity and price are thwo variables that we are mostly concerned with. Let's look at some descriptive statistics of these two variables.

In [3]:
pd.DataFrame([df.Quantity.describe(),df.UnitPrice.describe()])

,count,mean,std,min,25%,50%,75%,max
Quantity,541909.0,9.552250,218.081158,-80995.00,1.00,3.00,10.00,80995.0
UnitPrice,541909.0,4.611114,96.759853,-11062.06,1.25,2.08,4.13,38970.0

It looks like that we need to deal with outliers on both side. First of all, the smallest values for both the variables are negative, which doesn't fall within the feasible range. May be it's the entries for returns from customers. Let's just get rid of such negative entries first from the datafarme.

In [4]:
df = df[
    (df.Quantity > 0) &
    (df.UnitPrice > 0)
]
pd.DataFrame([df.Quantity.describe(),df.UnitPrice.describe()])

              count       mean         std    min   25%   50%    75%       max
Quantity   530104.0  10.542037  155.524124  1.000  1.00  3.00  10.00  80995.00
UnitPrice  530104.0   3.907625   35.915681  0.001  1.25  2.08   4.13  13541.33

Description column of the dataset is a great way to understand the entries. Fortunately, StockCode gives us some non-numerical values which are suspect for not being sells entries. Let's try and find out those entries first.

In [5]:
df[~df["StockCode"].str[0].str.isnumeric()].StockCode.unique()

array(['POST', 'C2', 'DOT', 'M', 'BANK CHARGES', 'AMAZONFEE', 'DCGS0076',
       'DCGS0003', 'gift_0001_40', 'DCGS0070', 'm', 'gift_0001_50',
       'gift_0001_30', 'gift_0001_20', 'DCGS0069', 'DCGSSBOY',
       'DCGSSGIRL', 'gift_0001_10', 'S', 'PADS', 'DCGS0004', 'B'],
      dtype=object)

Our next step is to carefully investigate all such entries and determine which ones are not sales record from the description column. Then we get rid of those rows from the dataframe.

In [6]:
df = df[~df.StockCode.isin(['POST', 'DOT', 'M', 'AMAZONFEE', 'BANK CHARGES', 'C2', 'B', 'S'])]

Now, we need to take care of a couple of things now. First, let's try to deal with the outliers on the upper side.

In [7]:
df.nlargest(5, columns='Quantity')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,12/9/2011 9:15,2.08,16446.0,United Kingdom
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,1/18/2011 10:01,1.04,12346.0,United Kingdom
421632,573008,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,4800,10/27/2011 12:26,0.21,12901.0,United Kingdom
206121,554868,22197,SMALL POPCORN HOLDER,4300,5/27/2011 10:52,0.72,13135.0,United Kingdom
97432,544612,22053,EMPIRE DESIGN ROSETTE,3906,2/22/2011 10:43,0.82,18087.0,United Kingdom

In [8]:
df.nlargest(5, columns='UnitPrice')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,6/10/2011 15:28,649.5,15098.0,United Kingdom
222682,556446,22502,PICNIC BASKET WICKER 60 PIECES,1,6/10/2011 15:33,649.5,15098.0,United Kingdom
4989,536835,22655,VINTAGE RED KITCHEN CABINET,1,12/2/2010 18:06,295.0,13145.0,United Kingdom
32484,539080,22655,VINTAGE RED KITCHEN CABINET,1,12/16/2010 8:41,295.0,16607.0,United Kingdom
51636,540647,22655,VINTAGE RED KITCHEN CABINET,1,1/10/2011 14:57,295.0,17406.0,United Kingdom

In [9]:
df = df[~df.InvoiceNo.isin(["581483","541431"])]
pd.DataFrame([df.Quantity.describe(),df.UnitPrice.describe()])

              count       mean        std    min   25%   50%    75%     max
Quantity   527791.0  10.272867  37.732211  1.000  1.00  3.00  11.00  4800.0
UnitPrice  527791.0   3.266470   4.380817  0.001  1.25  2.08   4.13   649.5

Now, merely looking into the UnitPrice in the table above, the jump from 75th percentile to max generates suspicion. Let us look at this closely.

In [10]:
np.sort(df.groupby("StockCode").agg({'UnitPrice': ['min', 'max']})["UnitPrice"]["max"]-
df.groupby("StockCode").agg({'UnitPrice': ['min', 'max']})["UnitPrice"]["min"])[-10:]

array([ 46.78,  49.21,  67.31,  73.29,  80.01,  89.96, 110.  , 245.  ,
       245.  , 647.5 ])

So, we see that there lies quite a large gap between the minimum and maximum price for a particualr stock code. Considering this data is an eight month observation, this seems like wrong entry or something like that. We clean those data from our dataframe. We are going to use the logic that the price should not be less than one-third of the median price and should not be greater than three times of median.

In [11]:
df = (
    df
    .assign(
        dNormalPrice=lambda d: d.UnitPrice 
            / d.groupby('StockCode').UnitPrice.transform('median') 
    )
    .pipe(
        lambda d: d[
            (d['dNormalPrice'] > 1./3) &
            (d['dNormalPrice'] < 3.)
        ]
    )
    .drop(columns=['dNormalPrice'])
)

Next, we understand that this retail seller has a wide range of products and elasticity for each of them might be different. Therefore, we group the data by stockcode, date and country.

In [12]:
df['InvoiceDate'] = pd.to_datetime(df.InvoiceDate)
df['Date'] = pd.to_datetime(df.InvoiceDate.dt.date)
df['revenue'] = df.Quantity * df.UnitPrice

df = df.groupby(['Date', 'StockCode', 'Country'], as_index=False).agg({
    'Description': 'first',
    'Quantity': 'sum', 
    'revenue': 'sum'
})
df['Description'] = df.groupby('StockCode').Description.transform('first')

df['UnitPrice'] = df['revenue'] / df['Quantity'] # implicit quantity-weighted avg of prices

In [13]:
df.to_parquet('ecom_sample_clean.parquet')

In [ ]:
feature_generator = ColumnTransformer(
    [
        ('item_id', OneHotEncoder(), ['item_id']), 
        ('date', OneHotEncoder(), ['date']),
        ('item_description', 
             CountVectorizer(min_df=0.05, ngram_range=(1, 3)), 
             'item_description'),
        ('numeric_feats', StandardScaler(), 
             ['day_of_week', 'stock_age_in_days'])
    ], remainder='drop'
)

model_q = Pipeline([
    ('feat_proc', feature_generator),
    ('model_q', RandomForestRegressor()) 
])
model_p = Pipeline([
    ('feat_proc', feature_generator),
    ('model_p', RandomForestRegressor())
])

In [ ]:
# Since Q might be 0, can't just take logs. This is a quick
# workaround for demonstration. Better options exist.
df_mdl['LnP'] = np.log1p(df_mdl['P'])
df_mdl['LnQ'] = np.log1p(df_mdl['Q'])
elast_estimates = list()

# Step 1: split into two halves
for idx_aux, idx_inf in KFold(
    n_splits=2, shuffle=True).split(df_mdl):
    
    df_aux = df_mdl.iloc[idx_aux]
    df_inf = df_mdl.iloc[idx_inf].copy()
    
    # Step 2+3: fit auxiliary models on first half
    model_q.fit(df_aux, df_aux['LnQ'])
    model_p.fit(df_aux, df_aux['LnP'])
    
    # Step 4: residualize in second half
    df_inf = df_inf.assign(
        LnP_res = df_inf['LnP'] - model_p.predict(df_inf),
        LnQ_res = df_inf['LnQ'] - model_q.predict(df_inf),
    )
    
   # Step 5: DML inference
    elast = (
        df_inf['LnP_res'].dot(df_inf['LnQ_res'])
        /
        df_inf['LnP_res'].dot(df_inf['LnP'])
        # the last part here deviates from standard OLS solution
    )
    
    print('DML elasticity:', elast)
    elast_estimates.append(elast)

    print('OLS elasticity for comparison:',
        df_inf['LnP_res'].dot(df_inf['LnQ_res'])
        /
        df_inf['LnP_res'].dot(df_inf['LnP_res'])
    )    

# Step 6: Take the mean of both estimates
print("DML efficient estimate of elasticity:", np.mean(elast_estimates))